<div class="bg-white relative container">
  <section
    class="w-7 max-w-full m-auto flex justify-content-center align-items-center relative"
  >
    <article
      class="flex flex-column justify-content-center gap-4 z-5 personajes__container"
    >
      <h1>404 PAGE NOT FOUND</h1>
      <H2>HYDRA is currently attacking page!</H2>
      <p>
        Check that you typed the address correctly, go back to your previous
        page or try using our site search to find something specific.
      </p>
    </article>

    <div class="scrolling-image-container">
      <div class="scrolling-image"></div>
    </div>
    <img class="" src="../../../../assets/page-error.png" alt="" />
    <!-- <img class="nube" src="../../../../assets/pag-error2.jpg" alt="" /> -->
  </section>
</div>
