<section class="w-full pb-5 container" *ngIf="personajes && comics">
  <article class="w-full">
    <app-slider class="w-full flex justify-content-center"></app-slider>
  </article>

  <article class="w-7 max-w-full m-auto">
    <h2 class="mb-5">Personajes</h2>
    <div class="flex flex-wrap justify-content-center gap-2">
      <app-card
        *ngFor="let personaje of personajes"
        [personaje]="personaje"
        [routerLink]="['/personaje', personaje.id]"
        [clase]="color"
      ></app-card>
    </div>
  </article>
  <article class="w-7 max-w-full m-auto mtS-5">
    <h2 class="mb-5">Comics</h2>
    <div class="flex flex-wrap justify-content-center gap-2">
      <app-card
        *ngFor="let comic of comics"
        [comics]="comic"
        [routerLink]="['/comic', comic.id]"
        [clase]="color"
      ></app-card>
    </div>
  </article>

  <!-- <article class="separator mb-8">
    <app-separator></app-separator>
  </article> -->
</section>
