<section class="mt-5 flex justify-content-between gap-6 front">
  <article class="imagen">
    <img [src]="series.thumbnail | imagen" alt="" />
  </article>
  <article class="w-full">
    <h1 class="title mb-5">
      {{ series.title }} ({{ series.modified | date : "YYY" }})
    </h1>
    <p class="mb-5 subtitle">
      Publisher:
      <span>
        {{ series.modified | date : "mediumDate" }}
      </span>
    </p>

    <div class="m-5 subtitle">
      <p>
        Writer:
        <!-- <span> {{ series.creators.items.name }} </span> -->
      </p>
    </div>

    <div>
      {{ series.description }}
    </div>
  </article>
</section>

<div class="background__image">
  <img [src]="series.thumbnail | imagen" alt="" />
</div>
<div class="filter"></div>
